.list h1 {
    text-align: center;
}

/* .list .main img {
    border: 1px solid #fff;
    margin: 10px;
    width: 200px;
} */

.myShelf {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.ourShelf {
    border-top: 2px solid #333;
    margin-top: 50px;
}